#searchListDiv {
  min-width: 220px;
  top: 60px;
  position: absolute;
  background: #2d2d2d;
  margin-left: 25px;
  max-height: 200px;
  overflow-y: scroll;
}

#searchListDiv ul {
  padding-left: 10px;
  list-style: none;
}
